.todo-list {
  width: 500px;
  margin: 10px auto;
  box-shadow: 9px 9px 20px 0px #0000002e;
}

.todo-list form {
  background: rgb(240, 240, 240);
  padding-top: 10px;
  padding-left: 10px;
  width: 510px;
  height: 60px;
}

.todo-list input {
  font-size: 16px;
  width: 450px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  border: none;
}

.todo-list button {
  color: white;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: rgb(60, 60, 60);
  vertical-align: middle;
  cursor: pointer;
}

.todo-item-list {
  width: 500px;
  padding: 10px;
  background: rgb(240, 240, 240);
  margin: 0
}

.todo-item-list li {
  font-size: 16px;
  list-style: none;
  padding: 10px;
  color: #444;
  cursor: pointer;
}

.todo-item-list li.checked {
  color: #ddd;
}